body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f3f6;
}

/* HEADER */

.header{
    background: #131921;
    color: white;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* LEFT */

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    color: #00a046;
    margin: 0;
}

.catalog-btn{
    background: #00a046;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* SEARCH */

.search-box{
    display: flex;
    width: 40%;
}

.search-box input{
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-box button{
    background: #00a046;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* RIGHT */

.right{
    display: flex;
    align-items: center;
}

.right span{
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
}

/* LAYOUT */

.container{
    display: flex;
}

/* SIDEBAR */

.sidebar{
    width: 220px;
    background: white;
    padding: 15px;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar li{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.sidebar li:hover{
    color: #00a046;
}

/* MAIN */

main{
    flex: 1;
    padding: 20px;
}

/* BANNER */

.banner{
    background: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

/* PRODUCTS */

.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.product{
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s;
}

.product:hover{
    transform: scale(1.05);
}

.product img{
    width: 100%;
    border-radius: 5px;
}

.price{
    color: red;
    font-weight: bold;
}

/* BUTTON */

button{
    background: #00a046;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #008f3a;
}